<p style="text-align: center;font-size: 70px;">settings</p>
<hr>
<div class="container">
    <div class="container p-3 my-3 bg-secondary text-white">
        <div class="row">
            <div class="col">
                <button class="btn btn-warning"><a routerLink="/">Home</a></button>
            </div>
            <div class="col">
                <select #selected class="form-control" id="sel1" >
       
                </select>
            </div>
            <div class="col">
                <button class="btn btn-danger" (click)="deleteItem(select.value)">Delete</button>
            </div>
        </div>
    </div>
    <div class="container  p-3 my-3 bg-secondary text-white">
        <div class="row">
            
            <div class="col-sm-4">
                <label for="usr">Add a new City Name:</label>
            </div>
            <div class="col-sm-4">
                
                <input #in type="text" placeholder="Enter City Name...." class="form-control" id="usr">
            </div>
            <div class="col-sm-4">
                <button class="btn btn-warning" (click)=addItem(in.value)>Add</button>
            </div>
        </div>
    </div>
</div>